html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--c0);
  color: var(--c11);
  /*
    font-size: min(max(1rem, 4vw), 22px);
    */
  font-family: "Inter", sans-serif;
  user-select: none;
  margin: 0;
  padding: 0;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -40%);
}

section {
  scroll-snap-align: start;
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  border-top: solid 1px var(--c0);
  background: var(--c0);
  overflow: hidden;
  transition: 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

section .section-content {
  display: block;
  position: absolute;
  top: 5rem;
  bottom: 5rem;
  left: 2rem;
  right: 2rem;
  padding: 0.9rem;
  padding: 0.9rem;
  background: var(--c0);
  border-radius: 0.7rem;
  transition: 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
section .section-content .title {
  position: relative;
  transition: color 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  color: var(--c11);
  top: 0rem;
  left: 1rem;
  font-family: Arial, sans-serif;
  font-size: 12px;
  /*
    letter-spacing: 0em;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    /*
    font-size: min(max(4rem, 8rem), 10rem);
    font-optical-sizing: auto;
    line-height:1em;
    text-align:left;
    */
  font-style: normal;
  opacity: 1;
  z-index: 22;
}
section#hello .section-content .headline {
  color: var(--c11);
  opacity: 1;
}
section#studio {
  background: var(--c0);
}
section#studio .section-content {
  background: var(--c11);
  height: auto;
  overflow: hidden;
}
section#studio .section-content .title {
  color: var(--c0);
}
section#studio .section-content .subtitle {
  color: var(--c0);
  left: 1rem;
  position: relative;
  transition: color 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
/************
   Portfolio Grid
   *************/
section#studio .cards-container {
  width: 100%;
  max-width: 90%;
  max-height: 80%;
  margin: 1rem auto;
  overflow-y: scroll;
}
.overflow {
  min-height: 100vh;
}

/* Customize website's scrollbar like Mac OS
   Not supports in Firefox and IE */
.cards-container::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

.cards-container::-webkit-scrollbar-track {
  width: 2px;
  background-color: #fff;
}
.cards-container::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}
.cards-container::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #fff;
}
.cards-container::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 1px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
.cards-container::-webkit-scrollbar-button {
  display: none;
}

/* div box */
.cards-container {
  width: 100%;
  max-width: 90%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 16px;
  /* if we want equal height on cards */
  grid-auto-rows: 1fr;

  overflow-y: scroll;
}
section#studio .card {
  color: var(--c6);
  color: var(--c6);
  transition: color 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  padding: 1rem;
  border: 1px solid #222;
  box-sizing: border-box;
  // & h2 {
  //   text-decoration: underline;
  //   text-decoration-color: rgb(180, 53, 53);
  // }
  // & h2 {
  //   text-decoration: underline;
  //   text-decoration-color: rgb(180, 53, 53);
  // }
}

section#studio .overlay {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 16px;
  grid-auto-rows: 1fr;
  overflow: hidden;
}

.btn-more a {
  padding-top: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  font-size: 12px;
  color: var(--c0);
  z-index: 13;
  padding: 6px;
  background-position-y: -0%;
  background-image: linear-gradient(
    180deg,
    transparent 50%,
    transparent 50%
  ) !important;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  background-size: 0%;
  background-size: auto 190%;
  &:hover {
    padding: 6px;
    background-position-y: 100%;
    color: var(--c11);
    background-image: linear-gradient(
      180deg,
      transparent 50%,
      var(--c0) 50%
    ) !important;
    transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    /*
     filter: var(--filter-01);
     */
  }
}

a {
  color: var(--c11);
  text-decoration: none;
}
.headline {
  filter: var(--filter-01);
  letter-spacing: -0.06em;
  letter-spacing: -0.06em;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-weight: 400;
  font-size: 10em;
  text-align: center;
  transition: color 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides any overflowing text */
  text-overflow: ellipsis; /* Adds ellipsis (...) if text is too long */
  width: 100%; /* Ensures the element spans the full width */
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides any overflowing text */
  text-overflow: ellipsis; /* Adds ellipsis (...) if text is too long */
  width: 100%; /* Ensures the element spans the full width */
}
.nav-title {
  z-index: 12;
  position: fixed;
  font-size: min(max(0.5rem, 1.6rem), 1.6rem);
  font-size: min(max(0.5rem, 1.6rem), 1.6rem);
  text-transform: uppercase;
}

.nav-title a {
  padding-top: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  z-index: 13;
  background-position-y: -0%;
  background-image: linear-gradient(
    180deg,
    transparent 50%,
    transparent 50%
  ) !important;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  background-size: 0%;
  background-size: auto 190%;
  padding: 6px;
  &:hover {
    padding: 6px;
    background-position-y: 100%;
    color: var(--c0);
    background-image: linear-gradient(
      180deg,
      transparent 50%,
      var(--c11) 50%
    ) !important;
    transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  }
}
._1 {
  top: 1.3em;
  left: 1.6em;
  // font-size: 2.1rem;
  // font-size: 2.1rem;
  display: none;
}
._2 {
  font-size: 1.6rem;
  font-size: 1.6rem;
  top: 1em;
  right: 1.2em;
  right: 1.2em;
}
._3 {
  bottom: 1em;
  left: 1.2em;
  left: 1.2em;
}
#logo-github {
  --dim: 20px;
  transform: scale(2);
  transform-origin: center;
  z-index: 12;
  right: 40px;
  bottom: 25px;
  position: fixed;
  height: var(--dim);
  width: var(--dim);
  & svg path {
    transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    fill: none;
    stroke: var(--c11);
  }
}
// #logo-github:hover svg {
//   opacity: 1;
//   color: #007bff;
//   transform: scale(1.2);
// }
.font-goth {
  font-family: "Aktura", serif;
}
.cursor {
  position: absolute;
  transition: 0.1s ease;
  z-index: 30;
  width: 30px;
  height: 30px;
  border: 3px solid var(--c11);
  background: var(--c0);
  /*
    filter: var(--filter-01);
    */
  border-radius: 50%;
  opacity: 1;
  top: -100px;
  left: -100px;
  transform: scale(0.35);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  mix-blend-mode: difference;
  pointer-events: none;
}
.cursor-fade {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(2);
  border: 1rem solid var(--c0);
  background: var(--c0);
  animation: rotate 4s infinite linear;
  mix-blend-mode: difference;
}
@keyframes rotate {
  0% {
    transform: scale(3) rotate(0deg);
  }
  100% {
    transform: scale(3) rotate(350deg);
  }
}

// .btn-fullscreen svg path {
//   fill: var(--c11);
//   fill-opacity: 1;
// }
.btn-fullscreen {
  top: 43%;
  right: 2.7em;
  top: 43%;
  right: 2.7em;
  width: 24px;
  height: 24px;
  position: fixed;
  z-index: 3200;
  transform: scale(1.7);
  cursor: pointer;
}

.btn-fullscreen:hover svg {
  opacity: 1;
  color: #007bff;
  transform: scale(1.2);
}

.btn-fullscreen:hover svg {
  opacity: 1;
  color: #007bff;
  transform: scale(1.2);
}

#toggle-theme {
  z-index: 998;
  z-index: 998;
  position: fixed;
  top: 44%;
  left: 3.5em;
  top: 44%;
  left: 3.5em;
  width: 24px;
  height: 24px;
  transform: scale(1.9);
  transform: scale(1.9);
  cursor: pointer;
}

#toggle-theme:hover svg {
  opacity: 1;
  color: #007bff;
  transform: scale(1.2);
}
