html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--c0);
  color: var(--c11);
  /*
    font-size: min(max(1rem, 4vw), 22px);
    */
  font-family: "Inter", sans-serif;
  user-select: none;
  margin: 0;
  padding: 0;
}
#img-bkg {
  z-index: 63;
  position: fixed;
  top: 0;
  width: auto;
  width: 100vw;
  height: 100vh;
  // background: url(../../assets/images/bkg.jpg) no-repeat fixed;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(232, 203, 129, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  pointer-events: none;
  mix-blend-mode: difference;
}
// .btn-more a {
//   padding-top: 10px;
//   padding-bottom: 5px;
//   overflow: hidden;
//   font-size: 12px;
// color: turquoise;
//   z-index: 13;
//   padding: 6px;
//   background-position-y: -0%;
//   background-image: linear-gradient(180deg, transparent 50%) !important;
//   transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
//   background-size: auto 190%;
//   &:hover {
//     padding: 6px;
//     background-position-y: 100%;
//     color: var(--c11);
//     background-image: linear-gradient(
//       180deg,
//       transparent 50%,
//       var(--c0) 50%
//     ) !important;
//     transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
//     /*
//        filter: var(--filter-01);
//        */
//   }
// }
.nav-title {
  z-index: 12;
  position: fixed;
  font-size: min(max(0.5rem, 1.6rem), 1.6rem);
}
.nav-title a {
  padding-top: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  z-index: 13;
  background-position-y: -0%;
  background-image: linear-gradient(180deg, transparent 50%) !important;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  background-size: auto 190%;
  padding: 6px;
  &:hover {
    padding: 5px;
    background-position-y: 100%;
    color: white;
    background-image: linear-gradient(
      180deg,
      transparent 50%,
      var(--c11) 50%
    ) !important;
    transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  }
}
._1 {
  top: 1.3em;
  left: 1.6em;
  font-size: 2.1rem;
  display: none;
}
._2 {
  font-size: 1.9rem;
  top: 0.7em;
  right: 0.9em;
}
._3 {
  font-size: 2.1rem;
  bottom: 0.7em;
  left: 1em;
}
section {
  scroll-snap-align: start;
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  border-top: solid 1px var(--c0);
  background: var(--c0);
  overflow: hidden;
  transition: 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

// STUDIO SECTION
section .section-content {
  display: block;
  position: absolute;
  top: 5rem;
  bottom: 5rem;
  left: 2rem;
  right: 2rem;
  background: var(--c0);
  border-radius: 0.7rem;
  transition: 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
section .section-content .title {
  position: relative;
  transition: color 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  color: var(--c11);
  top: 0rem;
  left: 1rem;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  opacity: 1;
  z-index: 22;
}
section#hello .section-content .headline {
  color: lightsteelblue;
  opacity: 1;
}
.section-content .title {
  font-size: 1.4rem;
}

.section-content .subtitle {
  left: 1rem;
  position: relative;
  transition: color 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
.cards-container {
  width: 100%;
  max-width: 90%;
  max-height: 80%;
  margin: 1rem auto;
  overflow-y: scroll;
}
.overflow {
  min-height: 100vh;
}
.cards-container::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}
.cards-container::-webkit-scrollbar-track {
  width: 2px;
  background-color: #fff;
}
.cards-container::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}
.cards-container::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #fff;
}
.cards-container::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 1px solid #f4f4f4;
}
/* set button(top and bottom of the scrollbar) */
.cards-container::-webkit-scrollbar-button {
  display: none;
}
.cards-container {
  width: 100%;
  max-width: 90%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 16px;
  /* if we want equal height on cards */
  grid-auto-rows: 1fr;

  overflow-y: scroll;
}
section#studio .card {
  color: var(--c6);
  transition: color 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  padding: 1rem;
  border: 1px solid #222;
  box-sizing: border-box;
  z-index: 888;
  background: radial-gradient(black, transparent);
  // & h2 {
  //   text-decoration: underline;
  //   text-decoration-color: rgb(180, 53, 53);
  // }
}
#contact .card {
  z-index: 1;
  color: inherit;
  background: radial-gradient(black, transparent);
}
