<div class="vignette"></div>
<div class="activity"></div>
<svg width="0" height="0">
  <defs id="defs1">
    <filter id="turbulence-effect">
      <feTurbulence
        type="fractalNoise"
        baseFrequency="0.001"
        numOctaves="1"
        seed="1"
        result="noise"
      >
        <animate
          attributeName="baseFrequency"
          values="0.001;0.005;0.001"
          dur="20s"
          repeatCount="indefinite"
        />
      </feTurbulence>
      <feDisplacementMap in="SourceGraphic" in2="noise" scale="80">
        <animate
          attributeName="scale"
          values="80; 120; 80"
          dur="10s"
          repeatCount="indefinite"
        />
      </feDisplacementMap>
    </filter>

    <filter id="pixelate-effect" x="0" y="0">
      <feFlood x="4" y="4" height="2" width="2" />
      <feComposite width="12" height="16" />
      <feTile x="0" y="0" width="1080" height="1080" result="c" />
      <feComposite in="SourceGraphic" in2="c" operator="in" />
      <feMorphology operator="dilate" radius="3" />
      <feMorphology operator="dilate" radius="1" />
    </filter>

    <filter id="pixelate-effect-sm" x="0" y="0">
      <feFlood x="4" y="4" height="1" width="1" />
      <feComposite width="4" height="4" />
      <feTile x="0" y="0" width="108" height="108" result="c" />
      <feComposite in="SourceGraphic" in2="c" operator="in" />
      <feMorphology operator="dilate" radius="1" />
    </filter>

    <filter id="digital-distortion">
      <feTurbulence type="fractalNoise" baseFrequency="0.05" numOctaves="3">
        <animate
          attributeName="baseFrequency"
          values="0.01;0.1;0.01"
          dur="2s"
          repeatCount="indefinite"
        />
      </feTurbulence>
      <feDisplacementMap in="SourceGraphic" scale="20" />
      <feColorMatrix type="saturate" values="3" />
    </filter>
  </defs>
</svg>
<adi-buttons></adi-buttons>
<router-outlet></router-outlet>
<adi-footer></adi-footer>
