<!-- Used for the hovering icons, text and cursor functionality -->
<div
  class="cursor"
  [style.left.px]="cursorX"
  [style.top.px]="cursorY"
  [class.cursor-fade]="isCursorFaded"
></div>
<p class="timer">
  <span id="string">
    <span id="h">{{ this.hours }}</span
    ><span class="h">h</span> <span id="m">{{ minutes }}</span
    ><span class="m">m</span> <span id="s">{{ seconds }}</span
    ><span class="s">s</span>
  </span>
</p>
<nav>
  <!-- <h3 class="nav-title _1">
    <b>
      <a
        href="hello"
        (mouseenter)="onMenuHoverEnter()"
        (mouseleave)="onMenuHoverLeave()"
        >HELLO</a
      >
    </b>
  </h3> -->
  <h3 class="nav-title _2">
    <b>
      <a
        href="studio"
        (mouseenter)="onMenuHoverEnter()"
        (mouseleave)="onMenuHoverLeave()"
        >STUDIO</a
      >
    </b>
  </h3>
  <h3 class="nav-title _3">
    <b>
      <a
        href="contact"
        (mouseenter)="onMenuHoverEnter()"
        (mouseleave)="onMenuHoverLeave()"
        >CONTACT</a
      >
    </b>
  </h3>
</nav>
<div
  id="toggle-theme"
  (click)="toggleTheme()"
  (mouseenter)="onMenuHoverEnter()"
  (mouseleave)="onMenuHoverLeave()"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-arrow-left-right"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"
    />
  </svg>
</div>
<div
  class="btn-fullscreen"
  (click)="toggleFullscreen()"
  (mouseenter)="onMenuHoverEnter()"
  (mouseleave)="onMenuHoverLeave()"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-arrows-fullscreen"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707m0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707m-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707"
    />
  </svg>
</div>
<div id="logo-github">
  <a
    href="https://github.com/AdityaUniyal5678"
    target="_blank"
    (mouseenter)="onMenuHoverEnter()"
    (mouseleave)="onMenuHoverLeave()"
    ><svg
      width="240"
      height="240"
      xmlns="http://www.w3.org/2000/svg"
      viewbox="0 0 240 240"
    >
      <g>
        <title>github.io/</title>
        <path
          id="logo-path"
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width=".9"
          stroke="#FFFFFF"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
        />
      </g>
    </svg>
  </a>
</div>
