#logo-github {
  --dim: 20px;
  transform: scale(2);
  transform-origin: center;
  z-index: 12;
  right: 45px;
  bottom: 35px;
  position: fixed;
  height: var(--dim);
  width: var(--dim);
  & svg path {
    transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    fill: none;
    stroke: var(--c11);
  }
}
#logo-github:hover {
  transform: scale(2.5);
}
.cursor {
  position: absolute;
  transition: 0.1s ease;
  z-index: 30;
  width: 30px;
  height: 30px;
  border: 3px solid var(--c11);
  background: var(--c0);
  filter: var(--filter-01);
  border-radius: 50%;
  opacity: 1;
  top: -100px;
  left: -100px;
  transform: scale(0.35);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  mix-blend-mode: difference;
  pointer-events: none;
}
.cursor-fade {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(2);
  border: 1rem solid var(--c0);
  background: var(--c0);
  animation: rotate 4s infinite linear;
  mix-blend-mode: difference;
}
@keyframes rotate {
  0% {
    transform: scale(3) rotate(0deg);
  }
  100% {
    transform: scale(3) rotate(350deg);
  }
}
.btn-fullscreen {
  top: 43%;
  right: 2.7em;
  width: 24px;
  height: 24px;
  position: fixed;
  z-index: 3200;
  transform: scale(1.7);
  cursor: pointer;
}
.btn-fullscreen:hover svg {
  opacity: 1;
  color: #007bff;
  transform: scale(1.2);
}
#toggle-theme {
  z-index: 998;
  position: fixed;
  top: 44%;
  left: 3.5em;
  width: 24px;
  height: 24px;
  transform: scale(1.9);
  cursor: pointer;
}
#toggle-theme:hover svg {
  opacity: 1;
  color: #007bff;
  transform: scale(1.2);
}
